<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/assents_home/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assents_home/owl/owl.carousel.min.css">

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assents_home/MDB/css/mdb.min.css">

</head>
<body>
    <!-- <========================= Header  ========================> -->
    @Html.Action("Menu", "Partials")

    @RenderBody()

    <!-- <========================= Footer  =========================> -->

    <section id="footer">
        <div class="container-fluid _footer_color">
            <div class="row _icon_padding">
                <div class="col-md-8"></div>
                <div class="col-md-4 ">
                    <i class="fab fa-cc-paypal _icon_color "></i>
                    <i class="fab fa-cc-visa _icon_color"></i>
                    <i class="fab fa-cc-discover _icon_color"></i>
                    <i class="fab fa-cc-amex _icon_color"></i>
                    <i class="fab fa-cc-mastercard _icon_color"></i>
                </div>
            </div>
        </div>
    </section>














    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="~/assents_home/owl/owl.carousel.min.js"></script>

    @RenderSection("productColorImage", required: false)
    @RenderSection("productpriceSearch", required: false)
    <script src="~/assents_home/js/script.js"></script>
    <script type="text/javascript" scr="~/assents_home/MDB/js/mdb.min.js"></script>
</body>
</html>